@model ASM.Models.Product

@{
    Layout = "~/Views/Users/_layoutClient.cshtml";
}

<main class="mainContent-theme">
    <div id="product" class="productDetail-page">
        <div class="breadcrumb-shop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/" target="_self" itemprop="item">
                                    <span itemprop="name">Trang chủ</span>
                                </a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/collections/@Model.Category?.Name" target="_self" itemprop="item">
                                    <span itemprop="name">@Model.Category?.Name</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item" content="/products/@Model.Id">
                                    <span itemprop="name">@Model.Name</span>
                                </span>
                                <meta itemprop="position" content="3" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row product-detail-main">
                            <div class="col-lg-8 col-12">
                                <div class="product-full-img">
                                    <img class="product-image-feature" src="@Model.Image" alt="@Model.Name" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="product-content-desc" id="detail-product">
                                    <div class="product-title">
                                        <h1>@Model.Name</h1>
                                    </div>
                                    <div class="product-price" id="price-preview">
                                        <span class="pro-price">@Model.Price.ToString("C")</span>
                                    </div>
                                    <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                                        <div class="selector-actions">
                                            <div class="quantity-area clearfix">
                                                <input type="button" value="-" onclick="minusQuantity()" class="qty-btn" />
                                                <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector" />
                                                <input type="button" value="+" onclick="plusQuantity()" class="qty-btn" />
                                            </div>
                                            <div class="wrap-addcart clearfix">
                                                <button type="button" id="add-to-cart" class="btn-addtocart btn" name="add">
                                                    Đặt món
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="product-description">
                                        <div class="title-bl">
                                            <h2>Mô tả</h2>
                                        </div>
                                        <div class="description-content">
                                            <div class="description-productdetail">
                                                <p>@Model.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divzoom">
        <div class="divzoom_main">
            <div class="product-thumb text-center d-flex justify-content-center align-items-center">
                <img class="product-image-feature" src="@Model.Image" alt="@Model.Name" />
            </div>
        </div>
        <div id="positionButtonDiv" class="hidden">
            <p>
                <span>
                    <button type="button" class="buttonZoomIn"><i></i></button>
                    <button type="button" class="buttonZoomOut"><i></i></button>
                </span>
            </p>
        </div>
        <button id="closedivZoom"><i></i></button>
    </div>
</main>

<style>
    .product-detail-wrapper {
        margin-top: 20px;
    }

    .product-image-feature {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .product-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .pro-price {
        font-size: 20px;
        color: red;
        margin-bottom: 20px;
    }

    .product-description {
        margin-top: 20px;
    }
</style>
